<div class="row row-cols-2 mb-3">
  <add-new-wish [wishes]="wishes" />
</div>
<div class="row row-cols-2">
  <wish-list-filter [(filter)]="filter" />
  @if (wishes$ | async; as wishes) {
  <list-box [wishes]="wishes.filter(filter)" />
  } @else if(wishes.length > 0){
  <list-box [wishes]="wishes.filter(filter)" />
  } @else { no wishes now }
</div>
<button class="btn btn-success" (click)="getWish()">get list</button>
<!-- <div class="container">@for (wish of test; track $index) { {{ wish }} }</div> -->
